<!doctype html>
<title>Панель управления космической гидропонной оранжереей - Hortio</title>
<nav>
  <h1>Панель управления космической гидропонной оранжереей</h1>
</nav>
<section class="content">
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}

  <h3>Управление</h3>
  <form method="post">
    <label for="day-of-cycle">День цикла (функция в разработке)</label>
    <input type="number" name="day-of-cycle" id="day-of-cycle" required placeholder="Min: 0, max: 45"
           min="0" max="45">
    <input type="submit" value="Сохранить">
  </form>

  {%  for name, v in outputs.iteritems(): %}
    <h4>{{ v["label"] }}</h4>    
    Состояние: {{  v["value"] }}
    <form method="post">
      <input type="hidden" name='{{ name }}' value="1">
      <input type="submit" value="Включить">
    </form>
    <form method="post">
      <input type="hidden" name='{{ name }}' value="0">
      <input type="submit" value="Выключить">
    </form>
  {% endfor %}
  


  <h3>Сенсоры</h3>
</section>