[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
lsm-db = "*"
flask-basicauth = "*"
waitress = "*"
python-dateutil = "*"
flask-cors = "*"

[dev-packages]

[requires]
python_version = "2.7"
